.card__section {
  margin: 100px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}

.card {
  display: flex;
  position: relative;
}

.card__image {
  height: 325px;
  width: 325px;
}

.card__title {
  position: absolute;
}
