.card__section {
  margin: 40px auto 0;
}

.card__items {
  margin: 34px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card__suggestion {
  font-family: "Cabinet Grotesk Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card {
  display: flex;
  position: relative;
}

.card__image {
  border-radius: 3%;
  height: 328px;
  width: 328px;
  margin: 0;
  padding: 0;
  border: 1px solid #0000004d;
}

.card__title {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin: 0;
  padding: 0 12px;
  border: 1px solid #0000004d;
  border-radius: 4px;
  background-color: #fff;
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
