.weather {
  position: relative;
}

.weather__temp {
  position: absolute;
  left: 50px;
  top: 20px;
  transform: translate(-50%);
  color: white;
  font-size: 36px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

.weather__img {
  width: 100%;
}
