.modal__login-btn {
  font-family: "Cabinet Grotesk Bold";
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 4px;
  width: 70px;
  height: 36px;
}

.modal__login-btn:hover {
  color: rgba(0, 0, 0, 1);
}
